a {
  text-decoration: none;
}

.h1-text {
  font-size: 1.75rem !important;
}

.h2-text {
  font-size: 2.5rem !important;
}

.v-btn__content {
  text-transform: initial !important;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.v-btn__content span {
  font-family: "Roboto Condensed", sans-serif !important;
}

table {
  border-collapse: collapse;
  width: 100% !important;
}

table td, table th {
  border: 1px solid #ddd;
  padding: 8px;
}

table tr:nth-child(2n) {
  background-color: #f2f2f2;
}
//
//@media only screen and (min-width: 600px) {
//  .col-md-4 {
//    flex: 0 0 25% !important;
//    max-width: 25% !important;
//  }
//}

.pointer {
  cursor: pointer;
}

.fill-height{
  height: 100%;
}

/* [1] The container */
.gallery-photo-container {
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.gallery-photo {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */

.gallery-photo:hover {
  transform: scale(1.3);
}